.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    display: flex;
    flex: 1;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    /* Espacio para el sidebar en pantallas grandes */
    margin-top: 60px;
    /* Espacio para el header */
    transition: margin-left 0.3s ease;
}

.content.sidebar-open {
    margin-left: 250px;
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
        /* Sin margen para pantallas pequeñas */
    }
    .content.sidebar-open {
        margin-left: 0;
    }
}